includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    level: 5
    paths:
        - src
        
    treatPhpDocTypesAsCertain: false
    
    # 🚀 LA SÉCURITÉ : PHPStan ne plantera plus si une erreur ignorée disparaît ou bouge
    reportUnmatchedIgnoredErrors: false
        
    ignoreErrors:
        # Ignorer la fausse alerte du bootstrap de Symfony
        -
            message: '#Call to function method_exists\(\) with .* will always evaluate to true\.#'
            path: tests/bootstrap.php

        # 🚀 Pattern ultra-simplifié et global pour l'ID Doctrine (plus de conflit de chemin)
        - '#Property App\\Entity\\.*::\$id.*is never assigned int#'